ul {
    bottom: 100px;
    left: 70px;
    position: absolute;
    font-size: 100px;
    letter-spacing: 20px;
}

ul li {
    list-style: none;
    overflow: hidden;
}

ul li a {
    transition: all 1s ease;
    transform: translateY(100%);
    display: block;
    color: black;
    text-decoration: none;
}

ul li:nth-child(2) a {
    transition-delay: 100ms;
}

ul li:nth-child(3) a {
    transition-delay: 200ms;
}

ul li:nth-child(4) a {
    transition-delay: 300ms;
}

.expand ul li a {
    transform: translateY(0);
}
