@media screen and (max-width: 560px) {
    header {
        position: fixed;
        width: calc(100% - 60px);
        margin: 50px 30px;
    }

    .menu_container p {
        margin-left: 0;
    }

    .menu_container p:last-child {
        margin-left: 30px;
    }

    .lines {
        display: none;
    }

    .lines_menu {
        display: none;
    }

}