@media screen and (max-width: 560px) {
    header {
        position: fixed;
        width: calc(100% - 60px);
        margin: 50px 30px;
    }

    .menu_container p {
        margin-left: 0;
    }

    .menu_container p:last-child {
        margin-left: 30px;
    }

    ul {
        font-size: 30px;
        left: 0;
    }

    ul li {
        margin: 25px;
    }

    .lines {
        display: none;
    }

    .lines_menu {
        display: none;
    }

    .front h1 {
        display: block;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .front {
        padding: 0 50px;
    }

    .grey {
        font-size: 10px;
    }

    .grid {
        display: block;
    }

    .grid div {
        margin: 30px 0;
    }

    .site_title img {
        width: 100px;
    }
}